@charset "utf-8";
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css");
@import url("./fonts.css");
@import url("./normalize.css");
@import url("./reset.css");
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  clip-path: inset(0,0);
}
/* 플로트 이슈를 해결하기 위한 CSS 선언 */
.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* 링크 스타일 */
a{
  color: inherit;
  text-decoration: none;
}
a:hover, a:focus{
  color: #f00;
}

/* 공통 스타일 */
*, *::before, *::after{
  box-sizing: border-box;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}
html{
  font-size: 10px;
}
body{
  margin: 0;
  font-weight: 400;
  color: #181818;
  font-size: 1.4rem;
}

/* 레이아웃 */
.container{
  background:  url("./images/bg_flower.png") no-repeat 50% 0, linear-gradient(to bottom, #999 0%, #ccc 40%, #eee 60%, #fff 100%);
  /* display: flex;
  flex-direction: column; */
  /* flex-flow: column wrap; */
  /* flex-wrap: wrap;
  justify-content: center; */
}
.header, .visual, .main, .slogan, .footer{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.header, .visual, .main, .slogan{
  align-self: center;
}
/* 헤더 */
.header{
  background: #fff;
  position: relative;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
}
/* 로고 */
.logo{
  position: absolute;
  top: 47px;
  left: 65px;
}
/* 멤버 링크 모음 */
.member{
  padding: 2px 0;
  text-align: right;
  font-size: 0;
  margin-right: -10px;
}
.member li, .member a{
  display: inline-block;
}
.member li{
  font-size: 1.4rem;
}
.bar::before{
  content: ":";
}
.member a{
  padding: 8px 10px;
  text-transform: uppercase;
}
/* 메인 메뉴 */
.navigation{
  padding-bottom: 40px;
}
.menu{
  /* background-color: orange;
  background-image: linear-gradient(to bottom, red, green); */
  height: 47px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 -2px 0 0 #000;
  /* border-top: 2px solid #000;  */
  background: #e2622b  linear-gradient(to bottom, #e29a2d 0%,#e2622b 30%,#e2622b 70%,#e29a2d 100%);;
  padding-left: 230px;
}
.menu-item{
  float: left;
  position: relative;
  border-left: 2px solid rgba(255,225,255,0.85);
  padding: 0 17px;
}
.menu-item:focus, .sub-menu a:focus{
  outline: 0;
}
.menu-item-text{
  line-height: 47px;
  display: block;
  font-weight: 700;
  font-size: 1.6rem;
  color: #fff;
  text-shadow: 1px 0 0 #000, 
               0 1px 0 #000, 
               -1px 0 0 #000, 
               0 -1px 0 #000;
}
.menu-act .menu-item-text{
  color: #ff0;
  border-bottom: 2px solid #000;
}
.sub-menu{
  position: absolute;
  top: 48px;
  display: none;
  white-space: nowrap;
}
.sub-menu1, .sub-menu2, .sub-menu3{
  left: 0;
}
.sub-menu4, .sub-menu5, .sub-menu6{
  right: 0;
}
.menu-act .sub-menu{
  display: block;
}
.sub-menu li, .sub-menu a{
  display: inline-block;
}
.sub-menu li{
  margin-right: 1em;
}
.sub-menu a{
  padding: 10px 0;
}
.sub-menu a::before{
  font-family: "fontello";
  content: '\f192';
  width: 1em;
  margin-right: .2em;
  line-height: 1em;
  margin-left: .2em;
}
.sub-menu a:hover::before, 
.sub-menu a:focus::before{
  content: '\e801';
}
/* 비주얼 */
@keyframes textAni{
  0%{
    font-size: 12px;
    color: rgba(0,0,0,0);
    transform: translate(0,0);
  }
  100%{
    font-size: 24px;
    color: rgba(0,0,0,1);
    transform: translate(400px,75px);
  }
}
@keyframes bgAni{
  0%{ opacity: 1; }
  100%{ opacity: 0; }
}
.visual{
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  animation: bgAni 2000ms infinite alternate;
  /* animation-name: bgAni;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}
.visual::before{
  background-image: url("./images/ani_flower_01.png"), url("./images/ani_flower_02.png");
  background-position: 0 -10px, 670px 0;
}
.visual::after{
  background-image: url("./images/ani_flower_03.png"), url("./images/ani_flower_04.png");
  background-position: 300px 0, 800px 15px;
  animation-delay: 1000ms;
}
.visual-text{
  animation-name: textAni;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  position: absolute;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
  background: #fff;
  border-radius: 15px 15px 0 0;
  padding: 30px 15px;
  min-height: 400px;
  /* display: flex;
  justify-content: space-between; */
}
.group{
  margin: 0 15px;
  float: left;
}
.group1{
  width: 250px;
}
.group2{
  width: 380px;
  /* order: -1; */
}
.group3{
  width: 190px;
}
/* 로그인 */
.login{
  background: radial-gradient(circle at right top, #e29a2d, #e2622b);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
}
.login-heading{
  font-weight: 700;
  color: #ff0;
  padding: 0 0 10px 10px;
}
.login-form, .sign{
  background: #fff;
}
.login-form{
  padding: 10px 10px 0 10px;
}
.login-form fieldset{
  border-bottom: 1px solid #aaa;
  position: relative;
}
.user-pw{
  margin-top: 6px;
  margin-bottom: 10px;
}
.login-form label{
  display: inline-block;
  width: 4.5em;
}
.login-form input{
  width: 90px;
  height: 22px;
  border: 1px solid #aaa;
  padding: 1px 1px 1px 5px;
}
.btn-login{
  background: #e2622b;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #e29a2d;
  padding: 0;
  border-radius: 3px;
  
}
.sign{
  display: flex;
  letter-spacing: -1px;
  justify-content: space-between;
  padding: 10px;
}
.sign li::before{
  margin-right: 0;
  margin-left: 0;
  color: #e2622b;
}
/* 유효성 검사 배너 */
.validation{
  margin-top: 25px;
}
.validation li{
  margin-bottom:10px;
}
.validation a{
  display:block;
  height: 35px;
  
  border: 1px solid #aaa;
  border-radius: 50px;
  /* background:  url("./images/validation_icon.png") no-repeat 15px 50%, linear-gradient(to bottom, #999 0%, #ccc 40%, #eee 60%, #fff 100%); */
  background: url("./images/validation_icon.png") no-repeat 15px 50%, #ccc linear-gradient(#ccc, #eee);
  padding : 6px 0 6px 45px;
}
/* 웹 관련 용어 */
.term{
  background: #ccc linear-gradient(#ccc, #eee);
  margin-top: 20px;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 10px 15px;
}
.term-heading{
  font-size: 1.6rem;
  font-weight: 700;
}
.term-list{
  /* background: pink; */
  margin-top: 10px;
}
.term-list .odd, .term-list .even{
  margin-top: 10px;
}
.term-list-subject{
  /* background: orange; */
  color: #296897;
  margin-top: -5px;
}
.term-list-subject, .term-list-brief{
  float: right;
  width: 145px;
}
.term-list-thumbnail{
  /* background: lime; */
  float: left;
  /*position: relative;
  margin-left: 15px; */
}
.term-list-thumbnail img{
  vertical-align: top;
}
.term-list-brief{
  /* background: skyblue; */
  line-height: 1.5;
  /* padding-left: 75px; */
}
.even .term-list-subject, .even .term-list-brief{
  float: left;
}
.even .term-list-thumbnail{
  float: right;
}
/* 검색 폼 */
.search{
  /* line-height: 50px; */
  background: #ccc linear-gradient(to bottom, #ccc,#eee);
  border: 1px solid #aaa;
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #fff;
  padding: 15px 25px 10px;
}

.search-form input{
  width: 200px;
  height: 24px;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 1px 1px 1px 5px;
}
.btn-search{
  border: 1px solid #aaa;
  background: #222;
  color: #fff;
  height: 24px;
  border-radius: 3px;
  padding: 0 12px;
  font-size: 1.3rem;

}
/* 공지사항 및 자료실 */
[class$="more"]::before{
  color: hsla(110, 50%, 50%, 1)
}
.board{
  margin-top: 20px;
  position: relative;
}

.tab{
  background: #ccc linear-gradient(#ccc,#eee);
  border: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  color :#333;
  padding: 5px 10px;
  position: absolute;
  top:0;
  cursor: pointer;
}
.tab-act .tab{
  color:#e2622b;
  background: #fff;
  border-color: #e2622b #e2622b #fff  #e2622b;
}
.notice-heading{
  left: 0;
}
.pds-heading{
  left: 73px;
}
.board ul{
  padding-top:45px;
}
.board li{
  margin-bottom: 7px;
  position: relative;
}
.board ul a{
  width: 280px;
  display:block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.board ul time{
  position: absolute;
  top: 0;
  right: 0;
}
.board [class$="more"]{
  position: absolute;
  top:0;
  right:0;
}
.board ul, .board [class$="more"]{
  display:none;
}
.tab-act ul, .tab-act [class$="more"]{
  display:block;
}
/* 새소식 */
/* 오헌준 *//*position:absolute  되는순간 인라인에서 블락으로 속성이 변경 된다*/
/* .news{
  background: yellow;
  margin-top: 20px;
  position: relative;
}
.news-heading{
  background:lime;
}
.news-link{
  background:pink;
  display:block;
}
.news-more{
  background: orange;
  position:absolute; 
  top: 0;
  right: 0;
}
.news-item{
  background: skyblue;
}
.news-subject{
  background: tomato;
  float:right;
  width: 200px;
}
.news-date{
  background: teal;
  float:right;
  width: 200px;
}
.news-brief{
  background: hotpink;
  float:right;
  width: 200px;
}
.news-thumbnail{
  background: olive;
  float:left;
} */


/* 새소식 */
/* 강사님 *//*position:absolute  되는순간 인라인에서 블락으로 속성이 변경 된다*/
[class*="more"]::before{
  color: hsla(110, 50%, 50%, 1)
}
.news{
  margin-top: 20px;
  position: relative;
}
.news::before{
  content: "";
  background: linear-gradient(to right, #ccc, #fff);
  position: absolute;
  width: 80%;
  height: 1px;
  top: 35px;
  left: 0;
}
.news-heading{
  font-weight: 700;
  font-size: 1.5rem;
  color: #e2622b;
}
.news-link{
  display:block;
}
.news-more{
  position:absolute; 
  top: 0;
  right: 0;
}
.news-item{
  margin-top: 35px;
  padding-left: 130px;
  position: relative;
  min-height: 130px;
}
.news-subject{
  font-weight: 700;
}
.news-date{
  display: block;
  margin: 10px 0;
}
.news-brief{
  line-height: 1.5;
}
.news-thumbnail{
  position: absolute;
  top: 4px;
  left: 0;
  text-align: center;
}
.news-thumbnail img{
  margin-bottom: 15px;
  box-shadow: 0 15px 15px 5px rgba(0,0,0,0.5);
}
/* 신규이벤트 및 관련사이트*/
.event-related{
  background: #ccc linear-gradient(#ccc, #eee);
  border:1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
}
.event{
  position: relative;
}
.related{
  margin-top: 10px;
  border-top: 1px solid #aaa;
  padding-top: 10px;
}
.event-heading, .related-heading, .favorite-heading{
  font-weight: 700;
  font-size: 1.6rem;
}
.event-heading span, .related-heading span, .favorite-heading span{
  color: #e2622b;
}
.event-thumbnail, .event-brief{
  margin-top: 10px;
}
.event-thumbnail img{
  border: 1px solid #aaa;
  box-shadow: 5px 5px 0 0 #999;
}
.btn-event{
  position: absolute;
  top: 0;
  right: 0;
}
.btn-event-prev, .btn-event-next{
  width: 19px;
  height: 18px;
  border: 0;
  padding: 0;
  background: url("./images/back_forward.png");
}
.btn-event-next{
  background-position: -36px;
}
.related-list
{
  background: #fff;
  margin-top:10px;
  border: 1px solid #aaa;
  border-radius: 3px;
  height: 27px;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.4s;
}
.related-list:hover, .related-list:focus{
  height: 147px;
  padding: 10px 0;
}
.related-list li{
  line-height: 25px;
  text-indent: 2em; /*첫줄 들여쓰기*/
}
.related-list a{
  display:block;
}
/* 인기 사이트 */
/* 오헌준 */
/* .favorite{
  background: #ccc linear-gradient(#ccc, #eee);
  border:1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}
.favorite-more{
  position: absolute;
  top: 10px;
  right: 10px;
}
.favorite-list{
  background: yellow;
  margin-top: 10px;
  overflow: hidden;
}
.favorite-list li::before{
  background: orangered;
  content: 'no';
  width: 1em;
}
.favorite-list li a, .favorite-list li em{
  background: teal;
}
.favorite-list li{
  display:flex;
}
.favorite-list em{
  margin-left: auto;
}
.favorite-list li a
{
  background: yellow;
  text-align: left;
}
.up{
  background: url("./images/rank.png") no-repeat;
} */

/* 인기 사이트 */
/* 강사님 */
.favorite{
  background: #ccc linear-gradient(#ccc, #eee);
  border:1px solid #aaa;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}
.favorite-more{
  position: absolute;
  top: 10px;
  right: 10px;
}
.favorite-list{
  margin-top: 5px;
  overflow: hidden;
}
.favorite-list li{
  margin-top: 5px;
  counter-increment: number;
  display: flex;
  align-items: center;
}
.favorite-list li::before{
  content: counter(number);
  color: #fff;
  background: #aaa;
  border-radius: 3px;
  padding: 0 5px;
  font-size: 1.2rem;
  margin-right: 5px;
}
.favorite-list em{
  margin-left: auto;
  background-image: url("./images/rank.png");
  background-repeat: no-repeat;
  width: 9px;
  height: 11px;
  padding-top: 11px;
  overflow: hidden;
}
.stop{
  background-position: 0 50%;
}
.down{
  background-position: 0 100%;
}

/* 슬로건 */
.slogan{
  position: relative;
  padding: 10px 100px 10px 180px;
}
.slogan-heading{
  width: 110px;
  height:83px;  
  position: absolute;
  bottom:-25px;
  left: 50px;
  text-align: center;
  line-height: 83px;
}
.slogan-heading::after{
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./images/coffee.png") no-repeat;
}
.slogan-content{
  color: #a09784;
}
.slogan-content q::before{
  font-size: 3.5rem;
  position: relative;
  top: 12px;
}
.slogan-content q::after{
  content: "";
}

/* 푸터 */
/* 오헌준 */
/* .footer-bg{
  background: #ccc linear-gradient(to bottom, #999 0%, #ccc 40%, #eee 60%, #fff 100%)
}
.footer{
 background: yellow;
 position: relative; 
}
.footer-logo{
  background: pink;
  position: absolute;
  top: 0;
  left: 0;
}
.guide-list{
  background: #7b8385;
  color: #fff;
  position: absolute;
  top: 0;
  left : 180px;
  display:flex;
  justify-content: space-between;
}
.address{
  background:teal;
}
.copyright{
  background: burlywood;
}
.badge{
  background: orange;
  position: absolute;
  top: 10px;
  right: 0;
} */

/* 푸터 */
.footer-bg{
  background: #ccc linear-gradient(to bottom, #999 0%, #ccc 40%, #eee 60%, #fff 100%)
}
.footer{
  position: relative;
  padding: 15px 100px 10px 180px;
}
.footer-logo{
  position: absolute;
  top: 50px;
  left: 50px;
}

.guide-list{
  background: #7b8385;
  color: #fff;
  display:flex;
  justify-content: space-around;
  border-radius: 10px;
  padding: 2px 15px;
}
.guide-list a{
  display:block;
  padding: 8px 0;
  text-transform: uppercase;
}
.address, .copyright{
  display: block;
  margin: 3px 0;
}
.badge{
  background: #ccc;
  position: absolute;
  top: 15px;
  right: 0;
}